backports.functools-lru-cache==1.6.1
comtypes==1.1.7
cycler==0.10.0
et-xmlfile==1.0.1
jdcal==1.4.1
kiwisolver==1.1.0
lxml==4.4.2
matplotlib==2.2.4
numpy==1.16.6
openpyxl==2.6.4
pandas==0.24.2
pdfrw==0.4
pyparsing==2.4.6
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2019.3
pywin32==227
six==1.13.0
